<a href="https://colab.research.google.com/github/vitroid/PythonTutorials/blob/master/2%20Advanced/022%E9%9B%86%E5%90%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 集合 Set
集合はリストと同じく複数のデータを集めたものですが、集合には順序がなく、同じデータを複数含みません。

A set, like a list, is a collection of multiple data, but sets are unordered and do not contain multiple instances of the same data.

In [1]:
s = set([3,1,4,1,5,9,2,6,5,3,5,8,9,7,9,3,2])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

集合に1つ要素を追加するにはaddを使います。

`add` adds an item to the set.

In [2]:
s.add(10)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

集合の演算を試してみましょう。

Here are operators for sets.

In [3]:
a = set([2,4,6,8,10,12,14,16,18,20])
b = set([3,6,9,12,15,18])
a | b                           #a or b; union 和集合

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20}

In [4]:
a & b                           #a and b; intersection 交差

{6, 12, 18}

In [6]:
a - b                           #difference 差集合

{2, 4, 8, 10, 14, 16, 20}

In [7]:
b - a                           #difference 差集合

{3, 9, 15}

In [8]:
a ^ b                           #exclusion 排他

{2, 3, 4, 8, 9, 10, 14, 15, 16, 20}

In [9]:
((a^b) | (a&b)) - (a|b)

set()

かけ算や足し算演算子は何に使えるのでしょうか。マニュアルを読む限り、+と\*は使えないようです。

According to the Python manual, the operators "*" and "+" are not available for sets.

In [ ]:
s+11

ある要素が集合に含まれるかどうかは、in演算子で調べます。

`in` operator is useful to test the existence of a member.

In [10]:
if 2 in a:
    print("yes")

yes

集合には数字だけでなく文字列も入れられます。

A set can also contain strings.

集合の要素を使ったループができます。

An example of the iteration over members of a set.

In [11]:
for e in a:
    print(e,e*e)

2 4
4 16
6 36
8 64
10 100
12 144
14 196
16 256
18 324
20 400

リスト内包記法で集合aの要素をそれぞれ2乗したリストを作り、それを集合にします。

The list comprehension creates a list of elements of set a, each of which is squared, and makes it a set.

In [12]:
L = [e*e for e in a]
a2 = set(L)
a2

{4, 16, 36, 64, 100, 144, 196, 256, 324, 400}

集合をリストに変換するには`list`関数を使います。はじめにも書いたように、集合型ではデータの順序は維持されないので、リストに変換すると並び順はランダムになります。

To convert a set to a list, use the `list` function. As mentioned in the first frame, the order of data is not preserved in a set type, so when converted to a list, the order becomes random.

In [13]:
L = list(a2)
L

[64, 256, 100, 4, 36, 196, 324, 16, 144, 400]

In [14]:
a = set([i for i in range(0,100,2)]) # even numbers
b = set([i for i in range(0,100,3)]) # multiple of three
print(a|b) # even numbers or mult of three
print(a-b) # even numbers but not mult of three
print(a&b) # mult of 6

{0, 2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 60, 62, 63, 64, 66, 68, 69, 70, 72, 74, 75, 76, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 96, 98, 99}
{2, 4, 8, 10, 14, 16, 20, 22, 26, 28, 32, 34, 38, 40, 44, 46, 50, 52, 56, 58, 62, 64, 68, 70, 74, 76, 80, 82, 86, 88, 92, 94, 98}
{0, 96, 66, 36, 6, 72, 42, 12, 78, 48, 18, 84, 54, 24, 90, 60, 30}

## 練習問題 Exercise
### Exercise 1
100未満の整数の集合`n1`, 100未満の偶数の集合`n2`, 100未満の3の倍数の集合`n3`, 100未満の5の倍数の集合`n5`などを作り、集合演算で素数の集合を作って下さい。(素数に1を含んでも構いません)

Create a set `n1` of integers less than 100, a set `n2` of even numbers less than 100, a set `n3` of multiples of 3 less than 100, a set `n5` of multiples of 5 less than 100, etc., and use set operations to create a set of prime numbers. (Prime numbers may include 1).

In [ ]:
n1=set([x for x in range(100)])
n1

### Exercise 2
てきとうな文字列を入力させ、その文字列の中で使われたアルファベット(A〜Z、a〜z)と使われなかったアルファベットをそれぞれ表示するプログラムを作って下さい。

In [ ]:
# すべてのアルファベット文字の集合
alphabet = set("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz")
alphabet

In [ ]:
s = input("Input a string:")